*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
body
{
    min-height: 100vh;  
    font-family: "Roboto", serif;
    font-style: normal;
}
::-webkit-scrollbar
{
    width: 1rem;
    height: 1rem;
    border-radius: 15rem;
}
::-webkit-scrollbar-track
{
   background: white;
   border-radius: 15rem;
   
}

::-webkit-scrollbar-thumb
{
   
    background: #2596be;

    border-radius: 15rem;
}

::-webkit-scrollbar-button
{
    background: lightgray;
    border-radius: 15rem;
}

.navBar
{
    position: fixed; 
    top: 0;
    width: 100%;
    background-color: white;
    color: white;
    padding: 10px 0;
    z-index: 1000;
    box-shadow: 5px 0px 10px rgba(37, 150, 190, 1);
}

#navContainer
{
    display:  flex;
    justify-content: space-around;
}

#navBarList
{
    color: black;

    display: flex;
    justify-content: center;
    gap: 2rem;

    margin-top: 1rem;

    list-style: none;
}
.navBarListAnchor
{
    color: black;
    text-decoration: none;
}

#navBarLogo
{
    height: 5vh;
}

#navBarIcons
{
    display: flex;
    gap: 1rem;
}

.navIcon
{
    margin-top: 0.7rem;
    height: 3vh;
}

.sectionHeader
{
    font-size: 3rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.hero
{
    background: url(./SourceImages/bg.png);
    background-size: cover;
    background-position:center;
    height: 72vh;
    margin-bottom: 10rem;
    padding-top: 15rem;
}

.heroContainer
{
    display: flex;
    justify-content: center;
    gap: 10rem;
    padding-left: 5rem;
}

.heroContainerContent
{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 5rem;
}

.heroContainerContentImg
{
    padding: 0;
}
.heroContainerContentImg img
{
    height: 50vh;
}

.heroContainerContent h1
{
    font-size: 5rem;
}

.heroContainerContent p
{
    font-size: 1.4rem;
}

.heroContainerContent button
{
    width: 8vw;
    color: white;
    background-color: #2596be;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 0;
}
.serviceContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.serviceContainerContent {
    text-align: center;
    padding: 1.25em;
    box-shadow: 0 0.25em 0.375em rgba(8, 82, 78, 0.1);
    max-width: 18.75em; 
    transition: transform 0.3s, box-shadow 0.3s, border-color 0.3s;
    box-shadow: 0px 0px 15px rgba(37, 150, 190, 1);
}
.serviceContainerContent img {
    width: 15%;
}

.serviceContainerContent:hover {
    transform: translateY(-0.3125em);
    box-shadow: 0px 0px 5px rgba(37, 150, 190, 1);
}

.about
{
    padding: 0;
}

.aboutContainer
{
    display: flex;
    gap: 0.5rem;
}

.aboutContainerImg
{
    padding: 0;
}

.aboutContainerImg img
{
    height: 70vh;
}

.aboutContainerContent
{
   display: flex;
   flex-direction: column;
   gap: 1rem;
   padding-top: 10rem; 
}

.aboutSectionHeader
{
    font-size: 3rem;
    text-align: left;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.aboutContainerContent p
{
    font-size: 1.5rem;
}
.aboutContainerContent button
{
    width: 8vw;
    color: white;
    background-color: #2596be;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 0;
}


.featured-books {
    padding: 1em;
    background-color: white;
}

.scroll-box {
    display: flex;
    overflow-x: auto;
    gap: 1.5em;
    padding: 1em;
}

.book {
    flex: 0 0 15em;
    border: 1px solid rgb(177, 177, 163);
    padding: 1em;
    background-color: white;
    text-align: center;
    transition: all 0.3s ease;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.book:hover {
    box-shadow: 0px 0px 5px rgba(37, 150, 190, 1);
}

.book img {
    width: 9em;
    height: auto;
    margin-bottom: 1em;
}

.book h2 {
    font-size: 1.5em;
    margin: 0.5em 0;
    color: black;
}

.bookAuthor{
    color: gray;
    margin-bottom: 0.5rem;
}

.bookGenere
{
    color:#2596be ;
    margin-bottom: 0.5rem;
}

.book .price {
    font-weight: bold;
    color: black;
    margin-bottom: 0.5rem;

}

.book .old-price {
    text-decoration: line-through;
    color: grey;
    margin-bottom: 0.5rem;
}

.book button {
    margin-top: 0.5em;
    padding: 0.5em 1em;
    background-color: white;
    border: 1px solid rgb(37, 150, 190);
    color: rgb(37, 150, 190);
    cursor: pointer;
    transition: all 0.3s ease;
}

.book button:hover {
    background-color: rgb(37, 150, 190);
    color: white;
}

.arrival
{
    padding: 0;
}

.arrivalContainer
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.arrivalContainerRow1
{
    display: flex;
    gap: 3rem;
}

.arrivalContainerRowContent
{
    width: 25vh;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-top: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 0.5rem;
    border: 1.5px gray solid;
}

.arrivalContainerRowContentImg
{
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.arrivalContainerRowContentStars
{
    display: flex;
    justify-content: center;
}

.arrivalPoster
{
    height: 30vh;
    transition: all 0.5s;
}

.arrivalParagraph
{
    text-align: center;
    font-weight: 900;
}

.arrivalStar
{
    height: 2vh;
}

.arrivalButton
{
    color: black;
    background-color: white;
    width: 5vw;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
    transition: all 0.5s;
    border: 1px #2596be solid;
}

.arrivalButton:hover
{
    background-color: rgb(37, 150, 190);
    color: white;
}


.addShadow:hover
{
    box-shadow: 0px 0px 5px rgba(37, 150, 190, 1);
}

.addZoom:hover
{
    transform: scale(1.2);
}

.reviews
{
    margin-bottom: 3rem;
}

.reviewsContainer
{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.reviewsContainerContent
{
    width: 20vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0.5rem;
    padding-left: 1rem;
    gap: 0.5rem;
    box-shadow: 0px 0px 10px rgba(37, 150, 190, 0.5);
}

.reviewsContainerProfilePic
{
    display: flex;
    justify-content: space-between;

    
}

.reviewsContainerProfileAvatar img
{
    height: 13vh;
    border-radius: 15rem;
}

.reviewsContainerProfileQuote
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.reviewsContainerProfileQuote img
{
    height: 15vh;
    opacity: 0.1;
}

.reviewsContainerHeader
{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
}

.reviewsContainerParagraph
{
    font-weight: 410;
}

.reviewsContainerRowContentStars
{
    display: flex;
}
.digitalBook
{
    height: 50vh;
    background: url(./SourceImages/banner.jpg);
    background-size: cover;
}


.digitalBookButton
{
    color: white;
    background-color: #2596be;
    margin-left:  8.2rem;
    margin-top: 20.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 0px;
}

.blog
{
    height: auto;
    margin-bottom: 1rem;
}

#digitalBookParagraph
{
    background: red;
}


.blogContainer
{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    gap: 1.8rem;
    margin-bottom: 2rem;
    
}
.blogInnerContainer
{
    width: 60vh;
    flex-direction: column;
    box-shadow: 0px 0px 20px gray;
}

#blogImgContainer1
{
    background-image: url(./SourceImages/blog/blog_1.jpg);
    background-size: cover;
    background-position: center;
    height: 30vh;
}
#blogImgContainer2
{
    background-image: url(./SourceImages/blog/blog_2.jpg);
    background-size: cover;
    
    height: 30vh;
}

#blogImgContainer3
{
    background-image: url(./SourceImages/blog/blog_3.jpg);
    background-size: cover;
    background-position: center;
    height: 30vh;
}



.blogHeader
{
    font-size: 1.15rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #2596be;
    text-align: left;

    
}

.blogTextDiv
{
    padding: 1rem;
}
.blogInnerLogo
{
    margin-top: 0.2rem;
    height: 2.5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer
{
    background-color: #eaeaea;
    padding: 0.8rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.footerContainer
{
    background-color: #eaeaea;
    display:flex;
    justify-content: space-between;
    
}

.footerULHeader
{
    font-size: 1.15rem;
    font-weight: 600;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1.6rem;

}

#footerBookLogo
{
    height: 8.2vh;
    margin-bottom: 0.4rem;
}

#footerLogoParagraph
{
    letter-spacing: 0.05rem;
}

.footerSmallIcons
{
    height: 2vh;
}



#footerUL
{
    list-style: none;
    margin-top: 1rem;
    
    
}

#footerUL li
{
    margin-bottom: 1rem;
}

#socialMediaLogos
{
    display: flex;
    justify-content: space-evenly;
    
}

#socialMediaLogos img
{
    margin-right: 0.4rem;
}

#footerInput
{
    text-align: center;
    color: gray;
    background-color: lightgray;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-bottom: 0.25rem;
    border-radius: 1rem;
    border: 0px;
}

#footerButton
{
    color: white;
    background-color: #2596be;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 1rem;
    border: 0px;
}

#footerEndParagraph
{
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

@media (max-width: 768px) {

    /* NAV BAR */
    #navContainer {
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }

    #navBarList {
        flex-wrap: wrap;
        gap: 1rem;
        font-size: 0.9rem;
    }

    #navBarLogo {
        height: 4vh;
    }

    /* HERO SECTION */
    .hero {
        height: auto;
        padding-top: 4rem;   /* تعديل مهم */
        padding-bottom: 2rem;
        margin-bottom: 3rem;
    }

    .heroContainer {
        flex-direction: column;
        gap: 2rem;
        padding-left: 0;
        text-align: center;
        align-items: center;
    }

    .heroContainerContent h1 {
        font-size: 2rem;
    }

    .heroContainerContent p {
        font-size: 1rem;
    }

    .heroContainerContent button {
        width: 70%;        /* كان 40vw = غلط */
        max-width: 250px;
        margin: auto;
    }

    .heroContainerContentImg img {
        width: 80%;       /* تعديل مهم */
        height: auto;
    }

    /* ABOUT SECTION */
    .aboutContainer {
        flex-direction: column;
        text-align: center;
    }

    .aboutContainerImg img {
        height: auto;     /* بدل 40vh */
        width: 100%;
        object-fit: cover;
    }

    .aboutContainerContent {
        padding-top: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .aboutContainerContent button {
        width: 70%;
        max-width: 250px;
        margin: auto;
    }

    /* SERVICES */
    .serviceContainerContent {
        max-width: 90%;
    }

    .serviceContainerContent img {
        width: 30%;
    }

    /* ARRIVAL SECTION */
    .arrivalContainerRow1 {
        flex-direction: column;
        align-items: center;
    }

    .arrivalContainerRowContent {
        width: 80%;
    }

    .arrivalButton {
        width: 70%;
        max-width: 250px;
    }

    /* REVIEWS */
    .reviewsContainer {
        flex-direction: column;
        align-items: center;
    }

    .reviewsContainerContent {
        width: 90%;
    }

    /* DIGITAL BOOK BANNER */
    .digitalBook {
        height: auto;
        padding: 2rem 0;
        display: flex;
        justify-content: center;
    }

    .digitalBookButton {
        margin: 0;             /* إلغاء الـ 25vh */
        width: 70%;
        max-width: 250px;
    }

    /* BLOG */
    .blogInnerContainer {
        width: 95vw;
    }

    /* FOOTER */
    .footerContainer {
        flex-direction: column;
        text-align: center;
        gap: 2rem;
    }

    #footerUL {
        padding: 0;
    }

    #socialMediaLogos {
        justify-content: center;
        gap: 1rem;
    }
}
