*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
body
{
    min-height: 100vh;  
    font-family: "Roboto", serif;
    font-style: normal;
}
::-webkit-scrollbar
{
    width: 1rem;
    height: 1rem;
    border-radius: 15rem;
}
::-webkit-scrollbar-track
{
   background: white;
   border-radius: 15rem;
   
}

::-webkit-scrollbar-thumb
{
   
    background: #2596be;

    border-radius: 15rem;
}

::-webkit-scrollbar-button
{
    background: lightgray;
    border-radius: 15rem;
}

.navBar
{
    position: fixed; 
    top: 0;
    width: 100%;
    background-color: white;
    color: white;
    padding: 10px 0;
    z-index: 1000;
    box-shadow: 5px 0px 10px rgba(37, 150, 190, 1);
}

#navContainer
{
    display:  flex;
    justify-content: space-around;
}

#navBarList
{
    color: black;

    display: flex;
    justify-content: center;
    gap: 2rem;

    margin-top: 1rem;

    list-style: none;
}
.navBarListAnchor
{
    color: black;
    text-decoration: none;
}

#navBarLogo
{
    height: 5vh;
}

#navBarIcons
{
    display: flex;
    gap: 1rem;
}

.navIcon
{
    margin-top: 0.7rem;
    height: 3vh;
}

.sectionHeader
{
    font-size: 3rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.hero
{
    background: url(./SourceImages/bg.png);
    background-size: cover;
    background-position:center;
    height: 72vh;
    margin-bottom: 10rem;
    padding-top: 15rem;
}

.heroContainer
{
    display: flex;
    justify-content: center;
    gap: 10rem;
    padding-left: 5rem;
}

.heroContainerContent
{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 5rem;
}

.heroContainerContentImg
{
    padding: 0;
}
.heroContainerContentImg img
{
    height: 50vh;
}

.heroContainerContent h1
{
    font-size: 5rem;
}

.heroContainerContent p
{
    font-size: 1.4rem;
}

.heroContainerContent button
{
    width: 8vw;
    color: white;
    background-color: #2596be;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 0;
}
