body{
    margin: 0;
    padding: 0;
}


.row{

    display: flex;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
     
    box-shadow: 2px 4px 6px #0096a793;

}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;  
  box-shadow: 2px 4px 6px #0096a793;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.logo{
    padding: 5px;
}
.iconNavbar{
    width: 20%;
   display: flex;
   padding: 20px;
   gap: 15%;
  
   
}

.mainList {
    width: 80%;
    
}

.mainList a {
    color: #000;
    font-weight: 800;
    
}
 
.bord{
    
    display: flex;
    justify-content: space-evenly;
    width: 70%;
  
}
.bord li a:hover {
    color:  #0097a7 ;  
    transition: color 0.3s ease;  
}