*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
body
{
    min-height: 100vh;  
    font-family: "Roboto", serif;
    font-style: normal;
}
::-webkit-scrollbar
{
    width: 1rem;
    height: 1rem;
    border-radius: 15rem;
}
::-webkit-scrollbar-track
{
   background: white;
   border-radius: 15rem;
   
}

::-webkit-scrollbar-thumb
{
   
    background: #2596be;

    border-radius: 15rem;
}

::-webkit-scrollbar-button
{
    background: lightgray;
    border-radius: 15rem;
}

.navBar
{
    position: fixed; 
    top: 0;
    width: 100%;
    background-color: white;
    color: white;
    padding: 10px 0;
    z-index: 1000;
    box-shadow: 5px 0px 10px rgba(37, 150, 190, 1);
}

#navContainer
{
    display:  flex;
    justify-content: space-around;
}

#navBarList
{
    color: black;

    display: flex;
    justify-content: center;
    gap: 2rem;

    margin-top: 1rem;

    list-style: none;
}
.navBarListAnchor
{
    color: black;
    text-decoration: none;
}

#navBarLogo
{
    height: 5vh;
}

#navBarIcons
{
    display: flex;
    gap: 1rem;
}

.navIcon
{
    margin-top: 0.7rem;
    height: 3vh;
}

.sectionHeader
{
    font-size: 3rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.hero
{
    background: url(./SourceImages/bg.png);
    background-size: cover;
    background-position:center;
    height: 72vh;
    margin-bottom: 10rem;
    padding-top: 15rem;
}

.heroContainer
{
    display: flex;
    justify-content: center;
    gap: 10rem;
    padding-left: 5rem;
}

.heroContainerContent
{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 5rem;
}

.heroContainerContentImg
{
    padding: 0;
}
.heroContainerContentImg img
{
    height: 50vh;
}

.heroContainerContent h1
{
    font-size: 5rem;
}

.heroContainerContent p
{
    font-size: 1.4rem;
}

.heroContainerContent button
{
    width: 8vw;
    color: white;
    background-color: #2596be;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 0;
}
.serviceContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.serviceContainerContent {
    text-align: center;
    padding: 1.25em;
    box-shadow: 0 0.25em 0.375em rgba(8, 82, 78, 0.1);
    max-width: 18.75em; 
    transition: transform 0.3s, box-shadow 0.3s, border-color 0.3s;
    box-shadow: 0px 0px 15px rgba(37, 150, 190, 1);
}
.serviceContainerContent img {
    width: 15%;
}

.serviceContainerContent:hover {
    transform: translateY(-0.3125em);
    box-shadow: 0px 0px 5px rgba(37, 150, 190, 1);
}

.about
{
    padding: 0;
}

.aboutContainer
{
    display: flex;
    gap: 0.5rem;
}

.aboutContainerImg
{
    padding: 0;
}

.aboutContainerImg img
{
    height: 70vh;
}

.aboutContainerContent
{
   display: flex;
   flex-direction: column;
   gap: 1rem;
   padding-top: 10rem; 
}

.aboutSectionHeader
{
    font-size: 3rem;
    text-align: left;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.aboutContainerContent p
{
    font-size: 1.5rem;
}
.aboutContainerContent button
{
    width: 8vw;
    color: white;
    background-color: #2596be;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 0;
}


.featured-books {
    padding: 1em;
    background-color: white;
}

.scroll-box {
    display: flex;
    overflow-x: auto;
    gap: 1.5em;
    padding: 1em;
}

.book {
    flex: 0 0 15em;
    border: 1px solid rgb(177, 177, 163);
    padding: 1em;
    background-color: white;
    text-align: center;
    transition: all 0.3s ease;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.book:hover {
    box-shadow: 0px 0px 5px rgba(37, 150, 190, 1);
}

.book img {
    width: 9em;
    height: auto;
    margin-bottom: 1em;
}

.book h2 {
    font-size: 1.5em;
    margin: 0.5em 0;
    color: black;
}

.bookAuthor{
    color: gray;
    margin-bottom: 0.5rem;
}

.bookGenere
{
    color:#2596be ;
    margin-bottom: 0.5rem;
}

.book .price {
    font-weight: bold;
    color: black;
    margin-bottom: 0.5rem;

}

.book .old-price {
    text-decoration: line-through;
    color: grey;
    margin-bottom: 0.5rem;
}

.book button {
    margin-top: 0.5em;
    padding: 0.5em 1em;
    background-color: white;
    border: 1px solid rgb(37, 150, 190);
    color: rgb(37, 150, 190);
    cursor: pointer;
    transition: all 0.3s ease;
}

.book button:hover {
    background-color: rgb(37, 150, 190);
    color: white;
}

.arrival
{
    padding: 0;
}

.arrivalContainer
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.arrivalContainerRow1
{
    display: flex;
    gap: 3rem;
}

.arrivalContainerRowContent
{
    width: 25vh;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-top: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 0.5rem;
    border: 1.5px gray solid;
}

.arrivalContainerRowContentImg
{
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.arrivalContainerRowContentStars
{
    display: flex;
    justify-content: center;
}

.arrivalPoster
{
    height: 30vh;
    transition: all 0.5s;
}

.arrivalParagraph
{
    text-align: center;
    font-weight: 900;
}

.arrivalStar
{
    height: 2vh;
}

.arrivalButton
{
    color: black;
    background-color: white;
    width: 5vw;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
    transition: all 0.5s;
    border: 1px #2596be solid;
}

.arrivalButton:hover
{
    background-color: rgb(37, 150, 190);
    color: white;
}


.addShadow:hover
{
    box-shadow: 0px 0px 5px rgba(37, 150, 190, 1);
}

.addZoom:hover
{
    transform: scale(1.2);
}

.reviews
{
    margin-bottom: 3rem;
}

.reviewsContainer
{
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.reviewsContainerContent {
    width: 20vw;        
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.7rem;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(37, 150, 190, 0.3);
}

.reviewsContainerParagraph p {
    line-height: 1.4;
    font-size: 0.95rem;
    color: #333;
}


.reviewsContainerProfilePic
{
    display: flex;
    justify-content: space-between;

    
}

.reviewsContainerProfileAvatar img
{
    height: 13vh;
    border-radius: 15rem;
}

.reviewsContainerProfileQuote
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.reviewsContainerProfileQuote img
{
    height: 15vh;
    opacity: 0.1;
}

.reviewsContainerHeader
{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
}

.reviewsContainerParagraph
{
    font-weight: 410;
}

.reviewsContainerRowContentStars
{
    display: flex;
}
.digitalBook
{
    height: 50vh;
    background: url(./SourceImages/banner.jpg);
    background-size: cover;
}


.digitalBookButton
{
    color: white;
    background-color: #2596be;
    margin-left:  8.2rem;
    margin-top: 20.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 0px;
}

.blog
{
    height: auto;
    margin-bottom: 1rem;
}

#digitalBookParagraph
{
    background: red;
}


.blogContainer
{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    gap: 1.8rem;
    margin-bottom: 2rem;
    
}
.blogInnerContainer
{
    width: 60vh;
    flex-direction: column;
    box-shadow: 0px 0px 20px gray;
}

#blogImgContainer1
{
    background-image: url(./SourceImages/blog/blog_1.jpg);
    background-size: cover;
    background-position: center;
    height: 30vh;
}
#blogImgContainer2
{
    background-image: url(./SourceImages/blog/blog_2.jpg);
    background-size: cover;
    
    height: 30vh;
}

#blogImgContainer3
{
    background-image: url(./SourceImages/blog/blog_3.jpg);
    background-size: cover;
    background-position: center;
    height: 30vh;
}



.blogHeader
{
    font-size: 1.15rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #2596be;
    text-align: left;

    
}

.blogTextDiv
{
    padding: 1rem;
}
.blogInnerLogo
{
    margin-top: 0.2rem;
    height: 2.5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer
{
    background-color: #eaeaea;
    padding: 0.8rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.footerContainer
{
    background-color: #eaeaea;
    display:flex;
    justify-content: space-between;
    
}

.footerULHeader
{
    font-size: 1.15rem;
    font-weight: 600;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1.6rem;

}

#footerBookLogo
{
    height: 8.2vh;
    margin-bottom: 0.4rem;
}

#footerLogoParagraph
{
    letter-spacing: 0.05rem;
}

.footerSmallIcons
{
    height: 2vh;
}



#footerUL
{
    list-style: none;
    margin-top: 1rem;
    
    
}

#footerUL li
{
    margin-bottom: 1rem;
}

#socialMediaLogos
{
    display: flex;
    justify-content: space-evenly;
    
}

#socialMediaLogos img
{
    margin-right: 0.4rem;
}

#footerInput
{
    text-align: center;
    color: gray;
    background-color: lightgray;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-bottom: 0.25rem;
    border-radius: 1rem;
    border: 0px;
}

#footerButton
{
    color: white;
    background-color: #2596be;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 1rem;
    border: 0px;
}

#footerEndParagraph
{
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}


.burger-menu {
    display: none;
    font-size: 1.8rem;
    cursor: pointer;
    color: black;
}


@media (max-width: 768px) {

    
    /* NAV BAR */
    #navContainer {
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }

    #navBarList {
        flex-wrap: wrap;
        gap: 0;
        font-size: 0.9rem;
        margin-top: 0 !important;
    }

    #navBarLogo {
        height: 4vh;
    }

      .burger-menu {
        display: block;
    }
      #navBarList {
        display: none;
        flex-direction: column;
        width: 100%;
        background: white;
        text-align: center;
        padding: 1rem 0;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        position: absolute;
        top: 70px;
        left: 0;
    }

     #navBarList.show {
        display: flex;
    }
      #navContainer {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 1rem;
    }
    #navBarIcons {
        display: none;
    }
    .hero {
        height: auto;
        padding-top: 4rem;  
        padding-bottom: 2rem;
        margin-bottom: 3rem;
    }

    .heroContainer {
        flex-direction: column;
        gap: 2rem;
        padding-left: 0;
        text-align: center;
        align-items: center;
    }

    .heroContainerContent h1 {
        font-size: 2rem;
    }

    .heroContainerContent p {
        font-size: 1rem;
    }

    .heroContainerContent button {
        width: 70%;        /* كان 40vw = غلط */
        max-width: 250px;
        margin: auto;
    }

    .heroContainerContentImg img {
        width: 80%;      
        height: auto;
    }

    /* ABOUT SECTION */
    .aboutContainer {
        flex-direction: column;
        text-align: center;
    }

    .aboutContainerImg img {
        height: auto;    
        width: 100%;
        object-fit: cover;
    }

    .aboutContainerContent {
        padding-top: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .aboutContainerContent button {
        width: 70%;
        max-width: 250px;
        margin: auto;
    }

    .serviceContainerContent {
        max-width: 90%;
    }

    .serviceContainerContent img {
        width: 30%;
    }

    .arrivalContainerRow1 {
        flex-direction: column;
        align-items: center;
    }

    .arrivalContainerRowContent {
        width: 80%;
    }

    .arrivalButton {
        width: 70%;
        max-width: 250px;
    }

    .reviewsContainer {
        flex-direction: column;
        align-items: center;
    }

    .reviewsContainerContent {
        width: 90%;
    }

    .digitalBook {
        height: auto;
        padding: 2rem 0;
        display: flex;
        justify-content: center;
    }

    .digitalBookButton {
        margin: 0;           
        width: 70%;
        max-width: 250px;
    }

    .blogInnerContainer {
        width: 95vw;
    }
 
    .footerContainer {
        flex-direction: column;
        text-align: center;
        gap: 2rem;
    }

    #footerUL {
        padding: 0;
    }

    #socialMediaLogos {
        justify-content: center;
        gap: 1rem;
    }
}


@media (min-width: 768px) and (max-width: 1100px) {

    html, body {
        overflow-x: hidden !important;
        max-width: 100% !important;
    }

    #navContainer {
        display: flex !important;
        align-items: center !important;
        justify-content: space-between !important;
        width: 100%;
        padding: 0 2rem;
    }

    #navBarList {
        display: flex !important;
        gap: 1.2rem !important;
        font-size: 1.1rem;
        margin-top: 0;
    }

    #navBarLogo {
        height: 5vh;
    }

    .hero {
        height: auto;
        padding-top: 6rem;
        padding-bottom: 4rem;
    }

    .heroContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between !important;
        gap: 3rem !important;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .heroContainerContent h1 {
        font-size: 3rem !important;
    }

    .heroContainerContent p {
        font-size: 1.2rem !important;
    }

    .heroContainerContentImg img {
        height: 35vh !important;
        width: auto;
    }

    .serviceContainer {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        gap: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .serviceContainerContent {
        flex: 1;
        min-width: 0;
        padding: 1rem !important;
        margin: 0;
    }

    .serviceContainerContent img {
        width: 30%;
    }

    .aboutContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .aboutContainerImg img {
        width: 100%;
        max-width: 380px;
        height: auto !important;
        object-fit: contain;
    }

    .aboutContainerContent {
        flex: 1;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .aboutContainerContent p {
        font-size: 1.1rem;
        line-height: 1.5;
    }

    .arrivalContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 2rem;
        padding: 0 1rem;
        box-sizing: border-box;
    }

    /* يمسك أي صف داخل arrivals */
    .arrivalContainer > div {
        display: flex !important;
        flex-wrap: wrap !important;
        justify-content: center !important;
        gap: 1.5rem !important;
        width: 100%;
    }

    .arrivalContainerRowContent {
        width: calc(33.33% - 1.5rem);
        min-width: 220px;
        padding: 1rem;
        box-sizing: border-box;
    }

    .arrivalPoster {
        width: 100% !important;
        height: auto !important;
        object-fit: cover;
    }


.reviewsContainer {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
    gap: 2rem !important;
    width: 100%;
    padding: 0 2rem;
    box-sizing: border-box;
}

.reviewsContainerContent {
    width: calc(50% - 2rem) !important; 
    min-width: 330px !important;         
    background: white;
    border-radius: 12px;
    padding: 1.5rem;
    box-shadow: 0px 0px 12px rgba(37, 150, 190, 0.25) !important;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.reviewsContainerProfileAvatar img {
    width: 80px !important;
    height: 80px !important;
    border-radius: 50%;
}

.reviewsContainerProfileQuote img {
    width: 90px !important;
    opacity: 0.12 !important;
}

.reviewsContainerParagraph p {
    font-size: 0.95rem;
    line-height: 1.45rem;
}

.reviewsContainerRowContentStars img {
    width: 20px !important;
}

.digitalBook {
    height: 300px !important;     
    background-size: cover !important;
    background-position: center !important;
    display: flex !important;
    flex-direction: column !important;  
    justify-content: center !important;  
    align-items: center !important;     

    padding: 0 !important;
}



.digitalBookButton {
    margin: 0 !important;
    padding: 0.7rem 2rem !important;
    font-size: 1.1rem !important;
    border-radius: 6px;

    background-color: #2596be !important;
    color: white !important;
    border: none !important;
}

    .blogContainer {
        display: flex;
        justify-content: center;
        gap: 1.5rem;
        flex-wrap: wrap;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .blogInnerContainer {
        width: 45%;
        min-width: 300px;
    }

    .footerContainer {
        display: flex;
        justify-content: space-between;
        padding-left: 2rem;
        padding-right: 2rem;
        flex-wrap: wrap;
    }
}

