*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
body
{
    min-height: 100vh;  
    font-family: "Roboto", serif;
    font-style: normal;
}
::-webkit-scrollbar
{
    width: 1rem;
    height: 1rem;

    border-radius: 15rem;
}